extends ../layouts/clean

block main
  section#untitled
    h1 Untitled
    h2 George Zalepa (2023)
    p In the realm of artistic creation, my untitled pieces serve as intimate bridges between myself and the observer. While themed works may possess their unique gravitational pull, these untitled creations are raw forays into the vast expanse of human emotion and perception. They are spontaneous, a shade more fervent, and, in many aspects, an unadulterated reflection of artistic vulnerability. Through a vivid dance of colors and daring experimentations, these pieces eschew thematic constraints, allowing for a direct, sincere dialogue with the viewer. These untitled works capture not just art, but pure, unfiltered emotion, speaking to them in the universal language of color and form.

    div.work  
      a(href="img/untitled/untitled_1.jpg"): img(src="img/untitled/untitled_1@0.25x.jpg" class="canvas-18x14")        
      h1.artwork-title
        span.title Untitled (1). 
        span.medium Oil on canvas,
        | 
        span.size= 18 + "\" × " + 14 + "\" (" + (18 * 2.54) + " × " + (14 * 2.54) + " cm)"
    div.work
      a(href="img/untitled/untitled_2.jpg"): img(src="img/untitled/untitled_2@0.25x.jpg" class="canvas-18x14")
      h1.artwork-title
        span.title Untitled (2). 
        span.medium Acrylic on canvas,
        | 
        span.size= 18 + "\" × " + 14 + "\" (" + (18 * 2.54) + " × " + (14 * 2.54) + " cm)"
    div.work
      a(href="img/untitled/untitled_3.jpg"): img(src="img/untitled/untitled_3@0.25x.jpg" class="canvas-18x14")
      h1.artwork-title
        span.title Untitled (3). 
        span.medium Oil on canvas,
        | 
        span.size= 18 + "\" × " + 14 + "\" (" + (18 * 2.54) + " × " + (14 * 2.54) + " cm)"
    div.work
      a(href="img/untitled/untitled_4.jpg"): img(src="img/untitled/untitled_4@0.25x.jpg" class="canvas-28x22")
      h1.artwork-title
        span.title Untitled (4). 
        span.medium Acrylic on canvas,
        | 
        span.size= 28 + "\" × " + 22 + "\" (" + (28 * 2.54) + " × " + (22 * 2.54) + " cm)"
    div.work
      a(href="img/untitled/untitled_5.jpg"): img(src="img/untitled/untitled_5@0.25x.jpg" class="canvas-36x24")
      h1.artwork-title
        span.title Untitled (5). 
        span.medium Arcylic and paper collage on canvas,
        | 
        span.size= 35 + "\" × " + 24 + "\" (" + (34 * 2.54) + " × " + (25 * 2.54) + " cm)"
    div.work
      a(href="img/untitled/untitled_6.jpg"): img(src="img/untitled/untitled_6@0.25x.jpg" class="canvas-36x12")
      h1.artwork-title
        span.title Untitled (6). 
        span.medium Acrylic and paper collage on canvas, three panels,
        | 
        span.size= 12 + "\" × " + 12 + "\" (" + (12 * 2.54) + " × " + (12 * 2.54) + " cm) each"