extends ../layouts/default

block main
  .art-container
    each work in art 
      div.artwork
        a(href="/img/full/" + work.slug + ".jpg")
          img(src="/img/full/" + work.slug + ".jpg")
        h1
          span.title= work.title + '. '
          span.medium=work.medium + ', '
          span.size
            = work.height + "\" × " + work.width + "\" (" + (work.height * 2.54) + " × " + (work.width * 2.54) + " cm)"