<header class="flex mx-auto my-10 justify-between w-9/12 pb-5 border-b-gray-100 border-b">
  <div class="flex flex-col">
    <h1 class="font-extralight text-xl uppercase tracking-widest">George Zalepa</h1>
    <h2 class="uppercase tracking-tight font-bold text-sm">Omnitemporal Expressionism</h2>
  </div>
  <%= link_to 'https://instagram.com/georgezalepa' do %>
    <%= image_tag 'icons/insta.svg', class: 'w-8 ml-3 mt-1' %>
  <% end  %>
</header>