<header class="flex flex-row m-8 p-8 font-thin uppercase py-10 text-3xl my-10">
  <h1>George Zalepa</h1>
  <%= link_to 'https://instagram.com/georgezalepa' do %>
    <%= image_tag 'icons/insta.svg', class: 'w-8 ml-3 mt-1' %>
  <% end  %>
</header>