<div class="flex flex-col">
  <header>
    <h1 class="text-xl text-gray-300">You'll scan anything huh?</h1>
  </header>
  <footer class="text-xs">
    <p>
      <a href="/">zalepa.art</a>
    </p>
  </footer>
  <script type="text/javascript">
    function redirect() {
      window.location.href = 'https://www.instagram.com/georgezalepa/';
    }

    document.addEventListener("DOMContentLoaded", function(event) { 
      setTimeout(redirect, 2000);
    });
  </script>
</div>