doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title George Zalepa
    link(rel="stylesheet" href="/css/site.css")
    script(async src="https://www.googletagmanager.com/gtag/js?id=G-YFK86CKN2M")
    script
      | window.dataLayer = window.dataLayer || [];
      | function gtag(){dataLayer.push(arguments);}
      | gtag('js', new Date());
      | gtag('config', 'G-YFK86CKN2M');

  body.bg-gray-200
    .container.mt-12.m-auto(class="lg:w-7/12 sm:w-full")
      header.flex.flex-row
        h1.text-4xl.text-slate-600.flex-grow George Zalepa 
        nav
          ul.flex.flex-row 
            li.px-8.text-slate-600: a(href="#") Works
            li.px-8.text-slate-600: a(href="#") Exhibits 
            li.pl-8.text-slate-600: a(href="#") Contact
      main 
        block main