doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title George Zalepa
    link(rel="stylesheet" href="/css/site.css")
  body 
    header 
      h1 George Zalepa
    block main
    footer 
      p 
       | © 2001 - 
       = (new Date()).getFullYear()
       |  George Zalepa